body  {
	margin: 0px;
	padding: 0px;
	background-color: #aaaaff;
}
.logo {
	font-size: 80px;
	font-weight: bolder;
	font-family: tahoma,garamond,sans-serif;
	text-indent: 20px;
	text-transform: uppercase;
	background-color: #4444ff;
	height: 100px;
	width: 360px;
	color: #ffffff;
	border :1px black solid;
}
.identification{
	font-size: 20px;
	font-family: tahoma,garamond,sans-serif;
	color: #ffffff;
	background-color: #4444ff;
	position: absolute;
	top: 50px;
	right: 5%;
	border :1px black solid;



}
.identification1{
	font-size: 20px;
	font-family: tahoma,garamond,sans-serif;
	color: #ffffff;
	background-color: #4444ff;
	position: absolute;
	top: 50px;
	right: 15.6%;
	border :1px black solid;
	}
/*.creerequipe,.postulerequipe{
	border: 1px black solid;

}*/

	.gererequipe,.formconnection ,.formupload{
		float: right;
	}
	.reunions,.listeequipe{
	margin-left: 40%;
	}
	.formuploadfichier{
	
	
	
	width: 570px;
	margin-left: 30%;
	}
	
	
.formequipe, .formconn,.enteteformulaire,.entetecreerequipe,.formreunion
{
	border: 1px #4444ff solid;
	width: 500px;
	margin-left: 35%;
}
.imgdeco{
position: absolute;
top: 0;
right: 0;
}

a{
	text-decoration: none;
	color: white;
}
.menuC1{
	border: 1px black solid;
	
	margin: 0px auto;
   	width:650px;

}
.menuC{

        border :1px black solid;
        text-align: center;
        width: 70%;
        margin: 0px auto;
        text-decoration: none ;
        font-size: 24;



}
table{
	border-collapse: collapse;
	width: 100%;



}
.info{
    	text-align: center;
    	font-family: tahoma,garamond,sans-serif;
    	font-size: 40px;
    }
#menu{
	background-color: #4444ff;
	border :1px black solid;
	width: 800px;
	color: #ffffff;
	font-size: 40px;
	font-family: tahoma,garamond,sans-serif;
	padding: 30px;
	height: 40px;
	text-align: center;
}
#lienconnection{
	color: #ffffff;
	text-decoration: none;
	
}
.infomenu {
      background-color: #4444ff;
      color: #ffffff;
      font-family: tahoma,garamond,sans-serif;
      font-size: 15px;
      /*text-align: center;*/

     
      border :1px black solid;
} 
footer{
	color: black;
	
	bottom: 0px;
	text-align: center;


}
#pseudo{
    margin-left: 20px;
}

